name: Publish New Release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  ci:
    uses: ./.github/workflows/elixir.yml
    secrets: inherit

  release-please:
    runs-on: ubuntu-latest
    needs: [ci]
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: elixir

  publish-hex:
    name: Publish to hex.pm
    runs-on: ubuntu-latest
    needs: [release-please]
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.15'
          otp-version: '26'

      - name: Restore dependencies cache
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-publish-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-publish-mix-

      - name: Install dependencies
        run: mix deps.get

      - name: Publish to Hex.pm
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}


