name: Publish New Release
on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write
  repository-projects: read # this is required by release-please-action to set the auto-release tags

# Note for release-please-action: 
# The action will set the auto-release tags for the release PR. If these tags do not already exist, the action will fail to create them.
# Therefore, make sure that the tags are created in the repository before running the release workflow: `autorelease: pending`, `autorelease: tagged`

jobs:
  ci:
    uses: ./.github/workflows/elixir.yml
    secrets: inherit

  release-please:
    runs-on: ubuntu-latest
    needs: [ci]
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: elixir

      # The logic below handles Hex.pm publishing.
      - uses: actions/checkout@v5
        if: ${{ steps.release.outputs.release_created }}

      - name: Set up Elixir
        if: ${{ steps.release.outputs.release_created }}
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.15'
          otp-version: '26'

      - name: Restore dependencies cache
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/cache@v4
        with:
          path: deps
          key: ${{ runner.os }}-publish-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-publish-mix-

      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: mix deps.get

      - name: Publish to Hex.pm
        if: ${{ steps.release.outputs.release_created }}
        run: mix hex.publish --yes
        env:
          HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
